server {
  server_name  {{ item.name }};
  {% if ssl_mode == "none" %}
  listen 80;
  {% elif ssl_mode == "selfsigned" %}
  include /etc/nginx/include.d/ssl-selfsigned.conf;
  {% endif %}

  location / {
    root   /var/www/{{ item.name }};
    index  index.html index.htm;
    try_files $uri $uri/ /index.html =404;
  }

  location ~ /\. {
    access_log off;
    log_not_found off;
    deny all;
  }
}
