server {
  listen       80;
  server_name  {{ item.name }};

  # access_log  /var/log/nginx/{{ item.name }}/access.log  main;

  location / {
    root   /var/www/{{ item.name }};
    index  index.html index.htm;
    try_files $uri $uri/ /index.html =404;
  }

  location ~ /\. {
    access_log off;
    log_not_found off;
    deny all;
  }
}
